<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881825572359-lfeudolbh21ttcmp0461ff24lh5u0p6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881825572359-lfeudolbh21ttcmp0461ff24lh5u0p6u</string>
	<key>API_KEY</key>
	<string>AIzaSyAgvizDXTldjI7yA85njqt2Ri-kznW8db4</string>
	<key>GCM_SENDER_ID</key>
	<string>881825572359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kingans</string>
	<key>PROJECT_ID</key>
	<string>kingans-d651f</string>
	<key>STORAGE_BUCKET</key>
	<string>kingans-d651f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881825572359:ios:e0814f1efc97697682aca2</string>
	<key>DATABASE_URL</key>
	<string>https://kingans-d651f.firebaseio.com</string>
</dict>
</plist>